#body{
  background-repeat: no-repeat;
}
#welcome{
  text-align: center;
}

#mySidenav a {
  position: absolute;
  left: -185px;
  transition: 0.3s;
  padding: 20px;
  width: 180px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
}

#mySidenav a:hover {
  left: 0;
}


#about {
  top: 60px;
  background-color: #555;
}

#work {
  top: 130px;
  background-color: #555;
}

#skills {
  top: 200px;
  background-color: #555;
}

#projects {
  top: 270px;
  background-color: #555;
}

#contact {
  top: 340px;
  background-color: #555;
}

#about_me{
  text-align: center;
}

#skills_section{
  text-align: center;
}
