#body{
  background-repeat: no-repeat;
  text-align: center;
}
#welcome{
  text-align: center;
}

#mySidenav a {
  position: absolute;
  left: -170px;
  transition: 0.3s;
  padding: 20px;
  width: 160px;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  color: white;
  border-radius: 0 10px 10px 0;
  background-image: linear-gradient(to bottom, #a1a2b2, #a8a8a8);
  border: solid 1px #000000;

}

#mySidenav a:hover {
  left: 0;
}


#about {
  top: 60px;
}

#work {
  top: 130px;
}
#skills {
  top: 200px;
}

#projects {
  top: 270px;
}

#contact {
  top: 340px;
  background-color: #555;
}

#about_me_section{
  text-align: center;
}

#work_section{
  text-align: center;
}

#skills_section{
  text-align: center;
}

#projects_section{
  text-align: center;
}

#contacts_section{
  text-align: center;
}
