body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  font-family: Arial;
}
#welcome{
  text-align: center;
  font-size: 35px;

}

#mySidenav a {
  position: fixed;
  transition: 0.3s;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
  border-radius: 0 10px 10px 0;
  background-image: linear-gradient(to bottom, #a1a2b2, #a8a8a8);
  border: solid 1px #000000;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 60px;
  width: 120px;
  left: -128px;
}

#work {
  top: 130px;
  width: 180px;
  left: -188px;
}
#skills {
  top: 200px;
  width: 120px;
  left: -128px;
}

#projects {
  top: 270px;
  width: 120px;
  left: -128px;
}

#contact {
  top: 340px;
  width: 120px;
  left: -128px;
}

#about_me_section{
  margin-top: 100px;
  text-align: center;
}

#work_section{
  margin-top: 100px;
  text-align: center;
}

#skills_section{
  margin-top: 100px;
  text-align: center;
}

#programing_languages{
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  align-items: stretch;
}

.programing_language{
  margin: auto;
  width: 120px;
  border-radius: 8px;
  border: solid 1px black;
  background-color: lightblue;
}

#projects_section{
  margin-top: 100px;
  text-align: center;
}

#contacts_section{
  margin-top: 100px;
  text-align: center;}

#contacts_section a{
  margin-top: 100px;
  text-decoration: none;
}

#contact_box{
  margin-left: 200px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
}

#links{
  margin: auto;
}
#personal_contact{
  margin: auto;
}
